@model PertPlan.WebUI.Models.ViewModels.TaskPostVM

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.css" />
    <link rel="stylesheet" href="~/css/Actions.css" />
}

<div class="mermaid text-center">
    @Html.Raw(Model.ToString())
</div>


@section Scripts {
    <script type="module" src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs"></script>
    <script type="module" src="./js/Actions.js"></script>
}