@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>

<div class="menu">
    <h1 class="display-4">@Localizer["Welcome to PertPlan"]</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            @Localizer["Create graph"]
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">@Localizer["Step by step"]</a>
            <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">@Localizer["From CSV file"]</a>
        </div>
    </div>
</div>

