@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w PertPlan</h1>
    <div class="d-inline-block card-header">Stwórz graf</div>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">Krok po kroku</a>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Index">Z pliku CSV</a>
</div> 
