@using PertPlan.WebUI.Models.ViewModels;
@{
    ViewData["Title"] = "Tasks";
}

@model List<ProjectTask>
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/Tasks.css" asp-append-version="true" />
}

<div class="d-md-none" style="border: 1px solid red; padding: 10px">
    <p>N<sub>um</sub> - numer zadania</p>
    <p>N<sub>az</sub> - nazwa zadania</p>
    <p>T<sub>e</sub> - czas ukończenia zadania</p>
    <p>T<sub>p</sub> - pozytywny czas ukończenia zadania</p>
    <p>T<sub>śr</sub> - średni czas ukończenia zadania</p>
    <p>T<sub>n</sub> - negatywny czas ukończenia zadania</p>
    <p>D - poprzedające zadania</p>
</div>

<form asp-action="Tasks" method="post">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th id="number" rowspan="2">Numer</th>
                <th id="name" rowspan="2">Nazwa</th>
                <th id="finishTime" colspan="3">Czas ukończenia</th>
                <th id="dependencies" rowspan="2" title="Numery poprzednich zadań">Poprzedzające zadania</th>
            </tr>
            <tr>
                <th id="finishTimePositive">Pozytywny</th>
                <th id="finishTimeAverage">Średni</th>
                <th id="finishTimeNegative">Negatywny</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var task in Model)
            {
                <tr>
                    <td>
                        <input type="text" class="form-control tableCell" asp-for=@task.Id readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control tableCell" asp-for=@task.Name>
                    </td>
                    <td>
                        <input type="number" class="form-control tableCell" asp-for=@task.PositiveFinishTime>
                    </td>
                    <td>
                        <input type="number" class="form-control tableCell" asp-for=@task.AverageFinishTime>
                    </td>
                    <td>
                        <input type="number" class="form-control tableCell" asp-for=@task.NegativeFinishTime>
                    </td>
                    <td>
                        <input type="text" class="form-control tableCell" placeholder="1, 2, 3..." asp-for=@task.DependOnTasks>
                    </td>
                </tr>
                <!-- Rows will be dynamically added here -->
            }
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="addRow()" type="button">Dodaj wiersz</button>
    <button class="btn btn-primary" type="submit">Stwórz diagram</button>
</form>

@section Scripts {
    <script src="~/js/Tasks.js" asp-append-version="true" type="text/javascript" charset="utf-8"></script>
}
