@{
    ViewData["Title"] = "Tasks";
}

@*@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" asp-append-version="true" />
}

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

<script type="module">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>*@

@section Styles {
    <link rel="stylesheet" href="~/css/Tasks.css" asp-append-version="true" />
}

<div class="d-md-none" style="border: 1px solid red; padding: 10px">
    <p>N<sub>um</sub> - numer zadania</p>
    <p>N<sub>az</sub> - nazwa zadania</p>
    <p>T<sub>e</sub> - czas ukończenia zadania</p>
    <p>T<sub>p</sub> - pozytywny czas ukończenia zadania</p>
    <p>T<sub>śr</sub> - średni czas ukończenia zadania</p>
    <p>T<sub>n</sub> - negatywny czas ukończenia zadania</p>
    <p>D - poprzedające zadania</p>
</div>

<form asp-action="">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th id="number" rowspan="2">Numer</th>
                <th id="name" rowspan="2">Nazwa</th>
                <th id="finishTime" colspan="3">Czas ukończenia</th>
                <th id="dependencies" rowspan="2">Poprzedzające zadania</th>
            </tr>
            <tr>
                <th id="finishTimePositive">Pozytywny</th>
                <th id="finishTimeAverage">Średni</th>
                <th id="finishTimeNegative">Negatywny</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically added here -->
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="addRow()">Dodaj wiersz</button>
    <button class="btn btn-primary" type="submit">Stwórz diagram</button>
</form>

@section Scripts {
    <script src="~/js/Tasks.js" asp-append-version="true" type="text/javascript" charset="utf-8"></script>
}
