thead {
    text-align: center;
}

th {
    vertical-align: middle
}

.tableCell {
    text-align: center
}

/* Table headers */
#moveIcon {
    width: 3%;
}

#number {
    width: 5%;
}

#dependencies {
    width: 15%;
}

#finishTime {
    width: 30%;
}

#finishTimePositive, #finishTimeNegative, #finishTimeAverage {
    min-width: 80px;
}

.tableHeader-number {
    min-width: 50px;
}

.tableHeader-text {
    min-width: 110px;
}

.graphOptions {
    gap: 1rem;
}

.threeDotsIcon {
    display: flex;
    justify-content: center;
}

.drpad {
    padding: 0 !important;
}

.oppacity05 {
    opacity: 0.5;
}

.dndCell {
    cursor: grab;
    vertical-align: middle;
}

.drag-over {
    background-color: lightgreen !important;
}

.tasksMenu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 40px;
    padding: 8px;
    background-color: white;
    align-items: center;
}

/* bootstrap's md breakpoint */
@media (min-width: 768px) {

    /* Table headers */
    #name {
        width: 30%
    }
}
